.overall-hp-container{
   margin: 0 80px;
}
.navbar-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   background-color: antiquewhite;
}
.navigation-buttons{
   display: flex;
   flex-direction: row;

   button{
      padding: 7px 10px;
      width: 120px;
      height: 45px;
      font-size: 20px;
      font-weight: 600;
      margin: 0 8px;
      border: 2px solid transparent;
      border-radius: 8px;
      transition: all 0.3s ease;
      background-color: #ee7494;
      color: white;
      box-shadow: 6px 3px 1px rgba(0, 0, 0, 0.2);
      transition: box-shadow 0.3s ease;
   }

   button:hover{
      background-color: #c60c3e;
      color: white;
   }
}
.logo-container{
   display: flex;
   flex-direction: row;
   gap: 3px;
   margin-bottom: 6px;
   align-items: center; 
   height: 120px;
   padding: 15px 0;
   
   img {
         height: 100px;
         width: 120px;
         margin-bottom: 7px;
      }

   .fincare-text {
      color: goldenrod;
      font-weight: 900;
      font-family: "Playwrite US Modern", cursive;
      font-optical-sizing: auto;
      font-size: 40px;
      margin-top: 7px;
   }
   .pm-text {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: gray;
      font-size: 16px;
      margin-top: 78px;
      margin-left: -170px;
   }
}

.main-content-container{
   margin-left: 100px;
}
.homepage-tagline-illus-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 100px;
   margin-bottom: 80px;

   img{
      width: 800px;
      height: 500px;
   }
}
.tag-lines {
   display: flex;
   flex-direction: column;
}

.app-definition{
   font-size: 17px;
   font-family:Arial, Helvetica, sans-serif;
   width: 650px;
   color: rgb(233, 59, 59);
   padding: 20px;
   text-align: center; 
   margin-bottom: -2px;
   margin-left: -10px;
   font-weight: bold;
}


.tagline-1{
   color: rgb(57, 163, 57);
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 75px;
   margin-bottom: -2px;
}

.tagline-2{
   color: rgb(239, 236, 231);
   margin-bottom: 20px;
   font-size: 20px;
   margin: 15px 100px;
   background-color: #e74337;
   text-align: center;
   width: 410px;
   padding: 10px 15px;
   font-family: cursive;
   border-radius: 12px;

}

.homepage-buttons {
   display: flex;
   flex-direction: row;
   gap: 3px;
   margin: 10px 0px 0px 80px;
}

.btn {
   padding: 15px 16px;
   width: 200px;
   height: 60px;
   font-size: 20px;
   text-decoration: none;
   margin: 0 10px;
   border: 2px solid transparent;
   border-radius: 5px;
   box-shadow: 6px 3px 1px rgba(0, 0, 0, 0.2);
   transition: box-shadow 0.3s ease;
}

.btn-primary {
   background-color: #46d646;
   border-color: #46d646;
   color: black;
   font-weight: bold;

}

.btn-primary:hover {
   background-color: #177217;
   border-color: #177217;
}

.btn-secondary {
   color: black;
   background-color: #f8bb2c;
   border-color: #f8bb2c;
   font-weight: bold;
}

.btn-secondary:hover {
   background-color: #e55512;
   border-color: #e55512;
}

.hr-element {  
   width: 50%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #000;
   margin-top: 80px;   
}

.feature-text {
   margin-top: 40px;
   font-family: cursive;
   color: purple;
}

#features{
   display: flex;
   flex-direction: column;
   background-color: rgb(217, 241, 242);
}
.featureboxes-container {
   display: flex;
   flex-direction: row;
   gap: 50px;
   justify-content: center;
   padding: 50px 30px;
   
}

.feature{
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 30px;
   align-items: center;
   overflow: hidden;
   border: 1px solid #ddd;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease-in-out;


   h3{
      font-family:Arial, Helvetica, sans-serif;
      font-size: 18px;
      text-align: center;
   }
   img{
      width: 220px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin-left: 10px;      
   }
}
.feature:hover {
   transform: translateY(-10px);
}



#team{
   margin: 50px 0;
}
.btyb-text {
   margin: 0 0 40px 0;
   font-family: cursive;
   color: rgb(209, 32, 59);

 }
.teams-section{
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #f4b2ad;
   padding: 60px;

   h1{
      margin-bottom: 50px;
   }
}
.team-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
   gap: 7px;
}

.team-member {
   background-color: #e5e0e2;
   border: 1px solid #ddd;
   border-radius: 10px;
   margin: 10px;
   padding: 20px;
   text-align: center;
   width: 280px;
   /* Adjust the width as needed */
   box-shadow: 0 16px 8px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease-in-out;
}

.team-member:hover {
   transform: translateY(-14px);
}

.coderangers-text{
   font-family: "Orbitron", sans-serif;
   font-size: 55px;
   font-weight: 20px;
   color: #d23114;
   margin-top: 15px;
   text-shadow: 5px 5px 4px rgba(67, 64, 7, 0.3)
}

.team-photo {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 15px;
}

.team-name {
   font-size: 1.2em;
   margin: 10px 0 5px;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.team-title {
   font-size: 1em;
   color: #666;
   margin: 0;
}

.footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 60px;

   h2{
      color: #149334;
   }
   h3{
      font-size: 20px;
      color: #e74337;
   }
}








