/* Login.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

/*
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f8f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}
*/

.fincare-text {
    color: goldenrod;
    font-weight: bold;
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.login-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 500px;
    align-items: center;
    margin-top: 70px;
}

h2 {
    margin-bottom: 20px;
    color: #0ca54c; /* Green */
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 36px;
}

.form-group {
    margin-bottom: 30px;
    position: relative;
}

.form-control {
    width: 100%;
    padding: 10px; /* Default padding */
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 10px;
    font-size: 16px; /* Default font size */    
}

.form-control:focus {
    border-color: #2ecc71; /* Green */
    box-shadow: 0 0 5px rgba(46, 204, 113, 0.25); /* Green */
    outline: none;
}


.btn-primary {
    width: 90%;
    padding: 10px;
    background-color: #2ecc71; /* Green */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.back-btn{
    width: 200px;
    padding: 15px 16px;
    background-color: #f8bb2c;
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    cursor: pointer;
    text-align: center;
}
.back-btn:hover{
    background-color: #e55512;
    color: white;
}



.btn-primary:hover {
    background-color: #27ae60; /* Darker green */
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    text-align: center;
    color: #2ecc71; /* Green */
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
    text-align: center;
}

.mt-4 {
    margin-top: 20px;
    text-align: center;
}
