.menu {
   display: flex;
   gap: 150px;
   font-weight: bold;
   
}

.item {
   display: flex;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 20px;
   width: 250px;
}

.listItem {
   display: flex;
   align-items: center;
   gap: 10px;
   padding: 10px;
   border-radius: 5px;
   text-decoration: none;

   &:hover {
      background-color: rgb(217, 217, 209)
   }

   .listItemTitle {
      color: rgb(20, 175, 236);

      &:hover {
            color: black;
      
         }
   }
}
